.ContentsWrap {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.ContentsClip {
  width: 600px;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 615px) {
  .ContentsClip {
    width: 90vw;
    overflow: hidden;
  }
}