.WrapCanvas {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ClipVFX {
  width: 64%;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VFX {
  width: 60vw;
  min-width: 300px;
}