.ClipVFX {
  width: 60vw;
  min-width: 300px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VFX {
  width: 56vw;
  min-width: 300px;
}