.ProfileWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 28px;
  margin-bottom: 48px;
}

.ProfileContentsWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ProfileImageWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.ProfileImage {
  width: 170px;
}

.ProfileDescriptionWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileDescription {
  text-align: center;
  font-family: "Abel", sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 2;
}