.SkillsWrap {
  width: 100%;
  max-width: 360px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.SkillsTitle {
  width: 100%;
  font-size: 16px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.SkillsDescription {
  width: 100%;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  color: #fff;
  text-align: left;
  word-break: break-all;
}

.SkillsLink {
  width: 256px;
  height: 48px;
  border-radius: 4px;
  background: #fff;
  color: #1d1d1d;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}