.SocialWrap {
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.SocialContentsWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}