.WorksWrap {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.WorksClip {
  width: 90%;
  max-width: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}