.AppSubTitleWrap {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppSubTitle {
  width: 100px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: 'Poiret One';
  font-size: 20px;
  margin: 80px 0;
}