.AppSubTitleWrap {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppSubTitle {
  width: 208px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: 'Cinzel Decorative';
  font-size: 20px;
  margin-top: 20px;
}