.AppTitleWrap {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

.AppTitle {
  width: 100px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: 'Poiret One';
  font-size: 24px;
  margin: 80px 0;
}