.AppTitleWrap {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

.AppTitle {
  width: 152px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: 'Cinzel Decorative';
  font-size: 16px;
  margin: 64px 0;
}