.AppWorksWrap {
  width: 480px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px 0;
}

.AppWorksImageWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppWorksImageClip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppWorksImage {
  width: 400px;
  height: auto;
}

.AppWorksTitleWrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppWorksTitle {
  height: auto;
  text-align: center;
  font-size: 15px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  color: #fff;
}
