.DetailsDescriptionWrap {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DetailsDescriptionText {
  color: #fff;
  font-family: 'Noto Serif JP';
}