.DetailsInfoWrap {
  max-width: 360px;
  min-width: 160px;
  width: 80%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
  background: rgba(219, 39, 69, 0.7);
  padding: 24px;
}

.DetailsInfoText {
  width: 80%;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  color: #fff;
  letter-spacing: 2px;
}

.DetailsInfoTitle {
  @extend .DetailsInfoText;
  font-size: 18px;
}