.DetailsInfoWrap {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
}

.DetailsInfoWrapCommon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 8px 0;
  align-items: center;
}

.DetailsInfoCommon {
  width: 90%;
  font-family: 'Cormorant Garamond';
  font-size: 16px;
  overflow-wrap: break-word;
  text-align: center;
}

.DetailsInfoTitle {
  font-weight: bold;
}

.DetailsInfoDescription {
  text-align: left;
  height: auto;
  font-family: "Noto Serif JP";
  font-size: 12px;
}