.ExternalLinkCommon {
  margin-bottom: 40px;
  width: 256px;
  height: 48px;
  border-radius: 4px;
  background: #1d1d1d;
  color: #fff;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.ExternalLink {
  @extend .ExternalLinkCommon;
}

.ExternalLinkHovered {
  @extend .ExternalLinkCommon;
  background: #fff;
  color: #1d1d1d;
}