$height: 40px;

.ExternalLinkWrap {
  // margin-top: 40px;
  // width: 256px;
  width: 100%;
  height: $height;
  // border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.ExternalLinkCommon {
  transform: translateX(-100%) translateY(-100%);
  transition: transform cubic-bezier(.16,.67,.64,.99) .2s, color cubic-bezier(.9,.23,.48,.97) .4s, border cubic-bezier(.9,.23,.48,.97) .6s;
  width: 100%;
  // width: 256px;
  height: $height;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  background: #1d1d1d;
  color: #1d1d1d;
  // border-radius: 4px;
  border: solid 1px #fff;
}

.ExternalLink {
  @extend .ExternalLinkCommon;
}

.ExternalLinkHovered {
  @extend .ExternalLinkCommon;
  transform: translateX(0%) translateY(-100%);
  color: #fff;
}

.ExternalLinkSquareCommon {
  transition: color cubic-bezier(.9,.23,.48,.97) .4s;
  width: 100%;
  // width: 256px;
  height: $height;
  background: #fff;
  color: #1d1d1d;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  // border-radius: 4px;
  text-decoration: none;
}

.ExternalLinkSquare {
  @extend .ExternalLinkSquareCommon;
}

.ExternalLinkSquareHovered {
  @extend .ExternalLinkSquareCommon;
  color: #fff;
}
