$height: 40px;

.ExternalLinkWrap {
  margin-bottom: 32px;
  // width: 256px;
  width: 100%;
  height: $height;
  // border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.ExternalLinkCommon {
  transform: translateX(-100%) translateY(-100%);
  transition: transform cubic-bezier(0.16, 0.67, 0.64, 0.99) 0.2s,
    color cubic-bezier(0.9, 0.23, 0.48, 0.97) 0.4s,
    border cubic-bezier(0.9, 0.23, 0.48, 0.97) 0.6s;
  width: 100%;
  // width: 256px;
  height: $height;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  background: #1d1d1d;
  color: #1d1d1d;
  // border-radius: 4px;
  border: solid 1px #fff;
}

.ExternalLink {
  @extend .ExternalLinkCommon;
  transition-duration: 0.4s;
}

.ExternalLinkHovered {
  @extend .ExternalLinkCommon;
  transform: translateX(0%) translateY(-100%);
  color: #fff;
}

.ExternalLinkSquareCommon {
  transition: color cubic-bezier(0.9, 0.23, 0.48, 0.97) 0.4s;
  width: 100%;
  // width: 256px;
  height: $height;
  background: #fff;
  color: #1d1d1d;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  // border-radius: 4px;
  text-decoration: none;
}

.ExternalLinkSquare {
  @extend .ExternalLinkSquareCommon;
}

.ExternalLinkSquareHovered {
  @extend .ExternalLinkSquareCommon;
  color: #fff;
}
