.HeaderWrap {
  position: fixed;
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  z-index: 1;
}

.HeaderImage {
  width: 106px;
  height: auto;
  cursor: pointer;
}