.ImageCanvasClip {
  appearance: none;
  outline: none;
  border: none;
  background: #1d1d1d;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageCanvasWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageCanvas, .ImageCanvasDetails {
  transform: scale(1, 1);
  transition: all cubic-bezier(.27,.19,.44,1) .6s;
}

.ImageCanvas {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.ImageCanvas:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
  transition: all cubic-bezier(.27,.19,.44,1) .6s;
}

@media screen and (max-width: 615px) {
  .ImageCanvas:active {
    transform: scale(1.1, 1.1);
    opacity: 1;
    transition: all cubic-bezier(.27,.19,.44,1) .6s;
  }
}

.ImageCanvasImg {
  width: 360px;
  height: auto;
  cursor: pointer;
}