.ImagePostProcessWrap {
  position: fixed;
  width: 100%;
  height: 100%;
}

.ImagePostProcessClip {
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImagePostProcess, .ImagePostProcessDetails {
  transform: scale(1, 1);
  transition: all cubic-bezier(.27,.19,.44,1) .6s;
  // cursor: pointer;
}

.ImagePostProcess {
  position: absolute;
  opacity: 0;
  // cursor: pointer;
}

.ImagePostProcessHovered {
  transform: scale(1.1, 1.1);
  opacity: 1;
  transition: all cubic-bezier(.27,.19,.44,1) .6s;
  // cursor: pointer;
}

.ImagePostProcessImg {
  width: 360px;
  height: auto;
  // cursor: pointer;
}

.ImagePostProcessImgHovered {
  width: 0px;
  height: 0px;
}