.ImageCanvasClip {
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageCanvas, .ImageCanvasDetails {
  transform: scale(1, 1);
  transition: all cubic-bezier(.27,.19,.44,1) .6s;
  cursor: pointer;
}

.ImageCanvas {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.ImageCanvasHovered {
  transform: scale(1.1, 1.1);
  opacity: 1;
  transition: all cubic-bezier(.27,.19,.44,1) .6s;
  cursor: pointer;
}

.ImageCanvasImg {
  width: 360px;
  height: auto;
  cursor: pointer;
}

.ImageCanvasImgHovered {
  width: 0px;
  height: 0px;
}