.LoadingWrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  color: #fff;
  z-index: 999999;
}

.LoadingWrapLoaded {

}