.LoadingWrapCommon {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  z-index: 999999;
  transform: translateX(0%);
  transition: transform cubic-bezier(.9,.23,.48,.97) 1s;
}

.LoadingWrap {
  @extend .LoadingWrapCommon;
}

.LoadingWrapLoaded {
  @extend .LoadingWrapCommon;
  transform: translateX(108%) rotate(-4deg) translateY(-4%);
  transition-delay: .6s;
}

.LoadingTextsCommon {
  color: #fff;
  font-size: 24px;
  font-family: "Poiret One";
  transition: opacity cubic-bezier(.9,.23,.48,.97) .4s;
}

.LoadingTexts {
  @extend .LoadingTextsCommon;
}

.LoadingTextsLoaded {
  @extend .LoadingTextsCommon;
  opacity: 0;
}