.overlay_common {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  z-index: 999999;
  transform: translateY(0%);
  transition: transform cubic-bezier(0.9, 0.23, 0.48, 0.97) 1s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.8s;
}

.overlay {
  @extend .overlay_common;
  transform: translateX(0%) rotate(0deg) translateY(0%);
}

.overlay_loaded {
  @extend .overlay_common;
  transform: translateY(116%);
  opacity: 0;
  transition-delay: 1s;
}

.image_common {
  transition: opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.8s;
}

.image {
  @extend .image_common;
}

.image_loaded {
  @extend .image_common;
  opacity: 0;
}
