.LoadingBlinderCommon {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  transform: translateX(-116%) translateY(4%) rotate(-4deg);
  transition: transform cubic-bezier(.98,.01,.83,1) 1s;
  z-index: 999999;
}

.LoadingBlinder {
  @extend .LoadingBlinderCommon;
}

.LoadingBlinderOn {
  @extend .LoadingBlinderCommon;
  transform: translateX(0%) translateY(0%) scale(1.2);
}
