.LoadingWrapCommon {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9b9b9b;
  z-index: 999999;
  transform: translateX(0%);
  transition: transform cubic-bezier(.9,.23,.48,.97) 1s;
}

.LoadingWrap {
  @extend .LoadingWrapCommon;
  position: relative;
  transform: translateX(0%) rotate(0deg) translateY(0%);
}

.LoadingWrapLoaded {
  @extend .LoadingWrapCommon;
  transform: translateX(114%) scale(1.2) rotate(-4deg) translateY(-4%);
  transition-delay: .6s;
}

.LoadingTextsCommon {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform cubic-bezier(.9,.23,.48,.97) 1s, opacity ease-in-out .4s;
}

@keyframes blink{
  0% {
    opacity: .2;
  }
  100% {
    opacity: .6;
  }
}

.LoadingTexts {
  @extend .LoadingTextsCommon;
  // animation: blink .1s ease-in-out infinite;
}

.LoadingTextsLoaded {
  @extend .LoadingTextsCommon;
  opacity: 0;
}

.LoadingWrapFinished {
  width: 0vw;
  height: 0vh;
  opacity: 0;
  z-index: 0;
  top: 0;
}