.LoadingCommon {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  z-index: 999999;
  transform: translateX(0%);
  transition: transform cubic-bezier(0.9, 0.23, 0.48, 0.97) 1s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.2s;
}

.Loading {
  @extend .LoadingCommon;
  transform: translateX(0%) rotate(0deg) translateY(0%);
}

.LoadingLoaded {
  @extend .LoadingCommon;
  transform: translateX(116%) scale(1.2) rotate(-4deg) translateY(-4%);
  opacity: 0;
  transition-delay: 0.6s;
}

// .LoadingFinished {
//   position: absolute;
//   opacity: 0;
//   z-index: -10000;
//   transform: translateX(-100%) rotate(0deg) translateY(0%);
// }

.LoadingImageCommon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform cubic-bezier(0.9, 0.23, 0.48, 0.97) 1s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.2s;
}

.LoadingImage {
  @extend .LoadingImageCommon;
}

.LoadingImageLoaded {
  @extend .LoadingImageCommon;
  opacity: 0;
}
