.LoadingBlinderCommon {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  transform: translateX(-116%) rotate(-4deg);
  transition: transform cubic-bezier(.9,.23,.48,.97) 1.2s;
}

.LoadingBlinder {
  @extend .LoadingBlinderCommon;
}

.LoadingBlinderOn {
  @extend .LoadingBlinderCommon;
  transform: translateX(0%) scale(1.2);
}
