.wrap {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  background: transparent;
  padding: 0 3em;
}

.text {
  width: 100%;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.title {
  @extend .text;
  font-size: 3rem;
  text-align: right;
}

.date {
  @extend .text;
  text-align: right;
}

.tags {
  @extend .text;
  text-align: right;
  line-height: 1.5em;
}

.description {
  @extend .text;
  line-height: 1.8;
}

.link_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.link {
  @extend .text;
  text-decoration: none;
  width: auto;
}

@media screen and (max-width: 768px) {
  .wrap {
    top: 0;
    left: 0;
    width: 100%;
  }
}
