.DetailsClip {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  background: linear-gradient(150deg, #1d1d1d 50%, #48BB35 200%);
  // background: linear-gradient(150deg, #1d1d1d 50%, #c22f2f 200%);
}