.wrap {
  position: fixed;
  bottom: 8.5em;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  background: transparent;
  padding: 0 32px;
  margin: auto 0;
  line-height: 1.5;
}

.text {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Libre Caslon Display", sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.title {
  @extend .text;
  font-size: 3rem;
  text-align: right;
}

.date {
  @extend .text;
  text-align: right;
}

.tags {
  @extend .text;
  text-align: right;
  line-height: 1.5em;
}

.description {
  @extend .text;
  line-height: 1.8;
}

.link_wrap {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.link {
  @extend .text;
  text-decoration: none;
  width: auto;
}
