.CarouselWrap {
  width: 100%;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: translate(0%) scale3d(1, 1, 1);
  transition: transform cubic-bezier(0.33, 0.55, 0.14, 1.02) 0.8s;
}
