.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  // width: 100%;
  // max-width: 1048px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto 0;
}

.icon {
  max-width: 16em;
  width: 50vw;
  margin: auto 0;
}

.icon_var_wrap {
  position: fixed;
  bottom: 24px;
  left: 32px;
  fill: #ffffff;
  transition: transform ease-in-out 2s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 1.6s;
}

.icon_var_wrap_fade_out {
  @extend .icon_var_wrap;
  opacity: 0;
}

.icon_var_wrap_fade_in {
  @extend .icon_var_wrap;
  opacity: 1;
}

.text_wrap {
  width: 100%;
  margin: 0 64px;
}

.edge_text_common {
  color: #ffffff;
  font-family: "Karla", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  position: fixed;
  font-weight: bold;
  display: flex;
}

.edge_text_top {
  @extend .edge_text_common;
  top: 64px;
  // left: 96px;
  right: 32px;
  // letter-spacing: 40px;
  // text-align: center;
  // justify-content: center;
  line-height: 1.4em;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .edge_text_top {
    letter-spacing: 2px;
  }
}

.edge_text_bottom_left {
  @extend .edge_text_common;
  left: 32px;
  bottom: 32px;
  flex-wrap: wrap;
  width: 12em;
  min-width: 128px;
  font-weight: normal;
}

.edge_text_right_bottom {
  @extend .edge_text_common;
  transform-origin: right;
  transform: rotate(-90deg);
  right: 100em;
  bottom: 30em;
}

.edge_text_left {
  @extend .edge_text_common;
  transform-origin: left;
  transform: rotate(-90deg);
  left: 40px;
  bottom: 28%;
  justify-content: center;
  flex-wrap: wrap;
}

.button_common {
  outline: none;
  appearance: none;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  margin: 8px 0;
  border-radius: 50%;
}

.button_theme {
  @extend .button_common;
  background: linear-gradient(225deg, #72dc70 0%, #334c7c 100%);
}

.button_twilight {
  @extend .button_common;
  background: linear-gradient(225deg, #9270dc 0%, #7c3333 100%);
}

.button_monotone {
  @extend .button_common;
  background: linear-gradient(225deg, #d7d7d7 0%, #2b2b2b 100%);
}

.button_wrap {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  right: 32px;
  width: 40px;
}
