.ProfileSlideWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileSlideContent {
  position: relative;
  max-width: 768px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ProfileSlideIcon {
  max-width: 320px;
  width: 50vw;
  margin-top: 12em;
  margin-bottom: 3em;
}

.ProfileSlideTextWrap {
  margin: 3em;
}

.ProfileSlideTextCommon {
  color: #ffffff;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.ProfileSlideTitle {
  @extend .ProfileSlideTextCommon;
  font-size: 6rem;
  margin-bottom: 8px;
}

.ProfileSlideSubTitle {
  @extend .ProfileSlideTextCommon;
  font-size: 3.5rem;
  margin-bottom: 16px;
}

.ProfileSlideText {
  @extend .ProfileSlideTextCommon;
  font-size: 2.5rem;
  margin-bottom: 8px;
  font-weight: normal;
}
