html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  width: 100%;
  min-height: 100%;
  background: #1d1d1d;
  font-size: 0.8vw;
  cursor: none;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 7px;
  }
}

@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 5px;
  }
}

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: transparent;
}

.FadeCommon {
  @extend .container;
  transition: transform ease-in-out 1.8s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 1.2s;
}

.FadeOut {
  @extend .FadeCommon;
  // transform: translateX(-30%);
  opacity: 0;
}

.FadeIn {
  @extend .FadeCommon;
  // transform: translateX(0%);
  opacity: 1;
}

.Cursor {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  transform: translate(0px, 0px);
  pointer-events: none;
}
