html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  width: 100%;
  min-height: 100%;
  background: #1d1d1d;
  font-size: 8px;
}

@media screen and (max-width: 768px) {
  html,
  body {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    width: 100%;
    min-height: 100%;
    background: #1d1d1d;
    font-size: 6px;
  }
}

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: transparent;
}

.FadeCommon {
  @extend .container;
  transition: transform ease-in-out 1.8s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.9s;
  transition: opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.9s;
}

.FadeOutToLeft {
  @extend .FadeCommon;
  // transform: translateX(-30%);
  opacity: 0;
}

.FadeInToRight {
  @extend .FadeCommon;
  // transform: translateX(0%);
  opacity: 1;
}
