.CopyrightWrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

.Copyright {
  width: 100px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 12px;
  margin: 80px;
  // over ride
  letter-spacing: 0px;
}