.SkillsWrap {
  width: 480px;
  height: 420px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SkillsTitleWrap, .SkillsDescriptionWrap, .SkillsLinkWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SkillsTitle {
  font-size: 20px;
  font-family: 'Poiret One';
  text-align: center;
  color: #fff;
}

.SkillsDescription, .SkillsLink {
  font-size: 14px;
  font-family: 'Poiret One';
  text-align: center;
  color: #fff;
}