.SkillsWrap {
  width: 480px;
  height: 420px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SkillsTitleWrap, .SkillsDescriptionWrap, .SkillsLinkWrap {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 2;
}

.SkillsTitle {
  font-size: 20px;
  font-family: 'Cinzel Decorative';
  text-align: center;
  color: #fff;
  margin-top: 48px;
  margin-bottom: 32px;
}

.SkillsDescription, .SkillsLink {
  font-size: 14px;
  font-family: 'Cormorant Garamond';
  color: #fff;
  text-align: center;
}