.SocialWrap {
  width: 480px;
  max-height: 420px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.SocialContentsWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.SocialLinkWrap {
  width: 100%;
  font-family: 'Cinzel Decorative';
  text-align: center;
  margin: 16px 0;
}

.SocialLink {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}