.SocialWrap {
  width: 480px;
  max-height: 420px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.SocialContentsWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.SocialLinkWrap {
  width: 100%;
  font-family: "Abel", sans-serif;
  text-align: center;
  margin: 24px 0;
}

.SocialLink {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 2;
}