.wrap {
  position: fixed;
  right: -25.2em;
  top: -14.8em;
  transform-origin: left;
  transform: rotate(90deg);
  display: flex;
  flex-wrap: wrap;
  width: 32vw;
}

.svg {
  fill: #00000000;
  width: 40vw;
}
