.wrap {
  position: fixed;
  top: 2.5em;
  left: 3em;
  height: 72px;
}

.text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 4rem;
  text-decoration: none;
  cursor: pointer;
}
