.HeaderWrap {
  position: fixed;
  top: 2.5em;
  left: 3em;
  height: 72px;
}

.HeaderText {
  color: #ffffff;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 4.5rem;
  text-decoration: none;
}
