.MenuWrap {
  position: absolute;
  display: flex;
  top: 30em;
  left: 0.5em;
  transform-origin: left top;
  transform: rotate(-90deg);
}

.MenuPageName {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0.8em;
  margin-left: 1em;
  text-decoration: none;
}
