.wrap {
  position: absolute;
  display: flex;
  top: 2.5em;
  right: 3em;
  transition: transform cubic-bezier(0.62, 0.03, 0.42, 0.96) 1.2s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 1.4s;
  transform: translateY(0%);
  opacity: 1;
  // top: 30em;
  // left: 0.5em;
  // transform-origin: left top;
  // transform: rotate(-90deg);
}

.clicked {
  @extend .wrap;
  transition: transform cubic-bezier(0.62, 0.03, 0.42, 0.96) 1.2s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.6s;
  transform: translateY(-60%);
  opacity: 0;
}

.text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: normal;
  margin-left: 0.5em;
  text-decoration: none;
  cursor: pointer;
}
