.wrap {
  position: fixed;
  display: flex;
  top: 2.5em;
  right: 3em;
  // top: 30em;
  // left: 0.5em;
  // transform-origin: left top;
  // transform: rotate(-90deg);
}

.text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: normal;
  margin-left: 1em;
  text-decoration: none;
  cursor: pointer;
}
