.ModalWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  background: #1d1d1d;
}

.ModalClose {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #ffffff;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: normal;
  margin-left: 1em;
  outline: none;
  border: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}
