.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  transform: translateY(0%);
  transition: transform cubic-bezier(0.9, 0.23, 0.48, 0.97) 1.2s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_hide {
  @extend .modal;
  transform: translateY(-100%);
  transition: transform cubic-bezier(0.74, -0.18, 0.2, 0.71) 2s,
    opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 1s;
  opacity: 0;
}

.content {
  position: relative;
  max-width: 1048px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10em 0;
}

.text_wrap {
  margin: 0 32px;
}
