.wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 12em;
}

.button {
  outline: none;
  appearance: none;
  border: none;
  background: transparent;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  width: 3rem;
  display: flex;
  justify-content: center;
}

.text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin: 0 0.5em;
}
