.button_common {
  outline: none;
  appearance: none;
  border: none;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 5em;
  height: 5em;
  background: #ffffff80;
  bottom: 1.5em;
  border-radius: 50%;
}

.button_left {
  @extend .button_common;
  left: 1.5em;
}

.button_right {
  @extend .button_common;
  right: 1.5em;
}
