.button_common {
  outline: none;
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 64px;
  height: 64px;
  border: 2px solid #ffffff;
  bottom: 2.5em;
  border-radius: 50%;
  transition: opacity cubic-bezier(0.55, 0.04, 0.47, 0.98) 0.8s;
  background: #1d1d1d;
  opacity: 1;
}

.button_left {
  @extend .button_common;
  left: 2.5em;
}

.button_right {
  @extend .button_common;
  right: 2.5em;
}

.button_left_disable {
  @extend .button_left;
  opacity: 0;
  pointer-events: none;
}

.button_right_disable {
  @extend .button_right;
  opacity: 0;
  pointer-events: none;
}

.icon {
  color: transparent;
  stroke: #ffffff;
  stroke-width: 24;
}
