.wrap {
  position: absolute;
  display: flex;
  width: 72%;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  transition: transform cubic-bezier(0.53, 0.01, 0.49, 0.99) 0.4s,
    filter cubic-bezier(0.53, 0.01, 0.49, 0.99) 0.4s;
  cursor: grab;
}

.content {
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.image_wrap {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000030;
  top: 0;
  left: 0;
}

.text_common {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  position: absolute;
}

.title {
  @extend .text_common;
  font-size: 12rem;
  text-align: left;
  bottom: 0;
  left: 0;
}

.date {
  @extend .text_common;
  font-weight: normal;
  font-size: 3rem;
  text-align: right;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .title {
    @extend .text_common;
    font-size: 6rem;
    text-align: left;
    bottom: -1em;
    left: 0;
  }

  .date {
    @extend .text_common;
    font-weight: normal;
    font-size: 3rem;
    text-align: right;
    top: -1em;
    right: 0;
  }
}
