.text_animation {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform cubic-bezier(0.9, 0.23, 0.48, 0.97) 0.4s;
  display: flex;
}

.text {
  color: #ffffff;
  font-family: "Thasadith", sans-serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
  margin-bottom: 0.2em;
  transition: transform cubic-bezier(0.9, 0.23, 0.48, 0.97) 1.2s;
  transition-delay: 0.4s;
  transform: translateY(112%);
}

.text_moved {
  @extend .text;
  transform: translateY(0%);
}
