.AppLoadingTextWrap {
  width: 10vw;
  height: 10vw;
  max-width: 64px;
  max-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0F0F0F;
  color: #fff;
  font-size: 16px;
}