.AppLoadingCubeWrap {
  height: 15%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.AppLoadingCubeWrapCommon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppLoadingCubeTopWrap {
  @extend .AppLoadingCubeWrapCommon;
}

.AppLoadingCubeBottomWrap {
  @extend .AppLoadingCubeWrapCommon;
}

.AppLoadingCubeFrontWrap {
  @extend .AppLoadingCubeWrapCommon;
}

.AppLoadingCubeCommon {
  width: 4%;
  height: 4%;
  min-width: 32px;
  min-height: 32px;
}

.AppLoadingCubeTop {
  @extend .AppLoadingCubeCommon;
  background: #5D5D5D;
  transform: translateY(30px) rotateX(90deg);
}

.AppLoadingCubeFrontCommon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
  height: 4%;
  min-width: 32px;
  min-height: 32px;
  margin: 0 8px;
  transform: translateZ(100px);
  color: #fff;
}

.AppLoadingCubeFront {
  @extend .AppLoadingCubeFrontCommon;
  background: #0c0c0c;
}

.AppLoadingCubeFrontSelected {
  @extend .AppLoadingCubeFrontCommon;
  background: #db2745;
}

.AppLoadingCubeBottom {
  @extend .AppLoadingCubeCommon;
  bottom: 0;
  background: #5D5D5D;
  transform: translateY(-30px) rotateX(90deg);
}

.AppLoadingCubeBack {
}

.AppLoadingCubeLeft {
  @extend .AppLoadingCubeCommon;
  background: #5D5D5D;
  transform: translateX(30px) rotateY(-90deg);
}

.AppLoadingCubeRight {
  @extend .AppLoadingCubeCommon;
  background: #5D5D5D;
  transform: translateX(-30px) rotateY(90deg);
}

@keyframes blink{
  0% {
    opacity: .2;
  }
  100% {
    opacity: .6;
  }
}

.AppLoadingCubeText {
  font-size: 1.2rem;
  font-family: "Poiret One";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blink .1s ease-in-out infinite;
}