.AppLoadingCubeWrap {
  height: 15vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.AppLoadingCubeWrapCommon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppLoadingCubeTopWrap {
  @extend .AppLoadingCubeWrapCommon;
}

.AppLoadingCubeBottomWrap {
  @extend .AppLoadingCubeWrapCommon;
}

.AppLoadingCubeFrontWrap {
  @extend .AppLoadingCubeWrapCommon;
}

.AppLoadingCubeCommon {
  width: 4vw;
  height: 4vw;
  min-width: 32px;
  min-height: 32px;
}

.AppLoadingCubeTop {
  @extend .AppLoadingCubeCommon;
  background: #5D5D5D;
  transform: translateY(30px) rotateX(90deg);
}

.AppLoadingCubeFront {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0F0F0F;
  transform: translateZ(100px);
}

.AppLoadingCubeBottom {
  @extend .AppLoadingCubeCommon;
  bottom: 0;
  background: #5D5D5D;
  transform: translateY(-30px) rotateX(90deg);
}

.AppLoadingCubeBack {
}

.AppLoadingCubeLeft {
  @extend .AppLoadingCubeCommon;
  background: #5D5D5D;
  transform: translateX(30px) rotateY(-90deg);
}

.AppLoadingCubeRight {
  @extend .AppLoadingCubeCommon;
  background: #5D5D5D;
  transform: translateX(-30px) rotateY(90deg);
}

.AppLoadingCubeTextCommon {
  width: 4vw;
  height: 4vw;
  min-width: 32px;
  min-height: 32px;
  margin: 0 8px;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Poiret One";
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppLoadingCubeText {
  @extend .AppLoadingCubeTextCommon;
  background: #1d1d1d;
}

.AppLoadingCubeTextSelected {
  @extend .AppLoadingCubeTextCommon;
  background: #db2745;
}